*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

/*Aplica somente ao header do body*/
body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

/* Faz com que o menu do site fica alinhado (lado a lado)
Para isso dentro do header o que for li será aplicado esse estilo*/
header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color:#f5f6fa;
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

/*Usando a classe que criamos dentro do Header chamada de 
container para definir altura e largura, agora toda vez
que for criado uma div com essa classe, esse estilo sera definido*/
.container{
    width: 1366px;
    margin: 0 auto;
}

/*Usando outra Div com a classe article para controlar os artigos*/
.articles{
    display: flex;/*mantém as notícias uma do lado da outra*/
    flex-wrap: wrap;
    justify-content:space-between;
}

/*Definir o tamanho das imagens
na classe articles, dentro de article tem as imagens entao:*/
.articles article img{
    /*height: 180px; quando limita a altura a largura se adequa*/
    width: 100%;
    position: relative;
}

.articles article img:hover{
    top:-2px;box-shadow:0 3px 3px #666
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2, 
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

/*hover faz com que ao passar o mouse altere a confg, no caso apareça a underline*/
.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0, 255,0,0.1);
}

#sports .articles article a{
    background-color: #009432;
}

#economy{
    background-color: #f8f59f;
}

#economy .articles article a{
    background-color: #ff9f1a;
}

#entertainment{
    background-color: #00cfeb42;
}

#entertainment .articles article a{
    background-color: #2e92cc;
}

#tech{
    background-color: #0335ff42;
}

#tech .articles article a{
    background-color: #3e2ecc;
}