* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    /* Abaixo altera a fonte do site  */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    /* Abaixo configura para o campo ficar alinhado no centro e altera a cor do fundo */
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    background-color:#fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-size: 16px;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #6a1b9a;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6a1b9a;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a0072;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}

.success {
    background-color: #e0f7fa;
    color: #00796b;
    border: 1px solid #00796b;
}

.error {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #c62828;
}